<div class="container-dashboard">
  <div class="col-xs-6">
    <% if @products %>
      <ul class="dash-ul">
        <h2 class="dash-h2">Your products</h2>
        <% @products.each do |product| %>
          <li class="message">
            <%= cl_image_tag product.photo, height: 150, width: 200, crop: :fill, class: "avatar-large" %>
              <div class="message-name">
                <h3><%= product.name %></h3>
                <p><%= product.description %></p>
              </div>
              <div class="message-body">
                <p><strong><%= product.name %></strong></p>
              </div>
              <div class="message-status">
                <i class="fas fa-pen-square"></i>
              </div>
            <% end %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="row">
    <% if @my_bookings %>
      <div class="col-xs-6">
        <ul class="dash-ul">
          <h2>My booking</h2>
          <% @my_bookings.each do |booking| %>
          <% if booking.status == 'Pending' %>
            <li class="message">
              <%= cl_image_tag booking.product.photo, height: 150, width: 200, crop: :fill, class: "avatar-large" %>
                <div class="message-name">
                  <h3><%= booking.user.name %></h3>
                  <p><%= booking.user.email %></p>
                </div>
                <div class="message-body">
                  <p><strong><%= booking.product.name %></strong></p>
                  <p><%= "Booking request for your #{booking.product.category} from to" %></p>
                </div>
                <div class="message-status">
                  <p><%= link_to 'Accept', dashboard_path(booking_id: booking.id), method: :patch %></p>
                  <p><%= link_to 'Reject', dashboard_path(booking_id: booking.id), method: :put %></p>
                  <p class="price">€<%= booking.product.price %></p>
                </div>
              </li>
              <% else %>
                <li class="message">
                <%= cl_image_tag booking.product.photo, height: 150, width: 200, crop: :fill, class: "avatar-large" %>
                  <div class="message-name">
                    <h3><%= booking.user.name %></h3>
                    <p><%= booking.user.email %></p>
                  </div>
                  <div class="message-body">
                    <p><strong><%= booking.product.name %></strong></p>
                    <p><%= "Booking request for your #{booking.product.category} from to" %></p>
                  </div>
                  <div class="message-status">
                    <p class="status <%= booking.status %>"><%= booking.status %></p>
                    <p class="price">€<%= booking.product.price %></p>
                  </div>
                </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% if @bookings %>
      <div class="col-xs-6">
        <ul class="dash-ul">
          <h2>My products booked</h2>
          <% @bookings.each do |booking| %>
          <li class="message">
            <%= cl_image_tag booking.product.photo, height: 150, width: 200, crop: :fill, class: "avatar-large" %>
              <div class="message-name">
                <h3><%= booking.user.name %></h3>
                <p><%= booking.user.email %></p>
              </div>
              <div class="message-body">
                <p><strong><%= booking.product.name %></strong></p>
                <p><%= "Booking request for your #{booking.product.category} from #{booking.start_day} to #{booking.end_day}" %></p>
              </div>
              <div class="message-status">
                <p class="status <%= booking.status %>"><%= booking.status %></p>
                <p class="price">€<%= booking.product.price  %></p>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>

