<%= link_to product_path(product) do %>
  <div class="card-map">
    <h5 class="h5"><%= product.name %></h5>
    <div class = "info-card">
      <p class="p"> <%= product.category %></p>
      <p class="p"> <%= product.address %></p>
      <p class="p"><%= product.price %>€</p>
    </div>
  </div>
<% end %>
