<div class="row">
  <div class="col-xs-6">
    <%= cl_image_tag @product.photo, height: 700, width: 600, crop: :fill %>
  </div>
    <div class="col-xs-6">
      <h1 class="show-h1"><%= @product.name %></h1>
    <div class="container-booking">

    <ul class="list-booking">
      <li class="list-booking-item-description">
        <%= image_tag 'papers.png', width: 20 %>
        <strong><p>DESCRIPTION</p></strong>
        <p><%= @product.description %></p>
      </li>
      <li class="list-booking-item-euro">
        <%= image_tag 'euro.png', width: 20 %>
        <strong><p>PRICE</p></strong>
        <p><%= @product.price %>€/jour</p>
      </li>
    </ul>
    <br>
      <p>
        <p class= "center-text"><%= image_tag 'pin.png', width: 20 %>
        <%= @product.address %></p>
      </p>
      <br>
    <%= simple_form_for [@product, @booking],
      wrapper: :inline_form,
      html: { class: "form-inline customize-form" },
      wrapper_mappings: {
      boolean: :inline_boolean
      } do |f| %>
      <%= f.input :start_day, as: :string,  input_html: {class: "datepicker item-booking mb-2 mr-sm-2"}, placeholder: 'Start day' %>
      <%= f.input :end_day, as: :string,  input_html: {class: "datepicker item-booking mb-2 mr-sm-2"}, placeholder: 'End day' %>
      <%= f.input :message, as: :text, input_html: { id: "booking-message"}, placeholder: "Your message here..." %>
      <%= f.submit 'Book', class: "btn-medium" %>
    <% end %>
</div>
  </div>
</div>


    <!--  -->


  <div class="wrapper-white">
    <div class="container">
      <h2 class="text-center">Choose an other products:</h2>
      <div class="row">
        <% @products.each do |product| %>
          <div class="col-xs-12 col-md-4 col-sm-3">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
             url('<%= cl_image_path product.photo, height: 300, width: 400, crop: :fill %>')">
              <div class="card-category"><%= product.category %></div>
              <div class="card-description">
                <h2><%= product.name %></h2>
                <p><%= product.description %></p>
              </div>
              <%= link_to '', product_path(product), class: "card-link" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>





